<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Diabitic Clinic | Admin Panel</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/adminStyle.css">
    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Diabetic Clinic</a>
          <a class="navbar-brand">Admin Panel</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Dashboard</a></li>
            <li><a href="">Users</a></li>
            <li><a href="">Login Details</a></li>
            <li><a href="">Pharmacy</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Welcome,Kavinda</a></li>
            <li><a href="/">Logout</a></li>
            <li>
          </ul> 
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-11">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard</h1>
          </div>
         
        </div>
      </div>
      
    </header>
    
    <section id="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <ol class="breadcrumb">
              <li class="active">Dashboard</li>
            </ol>
          </div>
          
        </div>
        
      </div>
    </section>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <a href="/admin/dashboard" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard</a>
              <a href="/admin/users" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users</a>
              <a href="/admin/loginDetails" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Login Details</a>
              <a href="/admin/Pharmacy" class="list-group-item"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Pharmacy</a>
            </div>
          </div>

          <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-heading main main-color-bg">
                <h3 class="panel-title">System Overview </h3>
              </div>
              <div class="panel-body">
                <div class="col-md-6">
                  <div class="well dash-box">
                    <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 300</h1>
                    <h3>Registered Users</h3>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="well dash-box">
                    <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 30</h1>
                    <h3>Active Users</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Online Users</h3>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-hover">
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>IP Address</th>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
   
    <footer id="footer">
      <p>Copyright &copy</p>
      
    </footer>
    <!--ckeditor-->
    <script>
      CKEDITOR.replace( 'pagebody' );
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
  </body>
</html>
