<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Diabitic Clinic | Doctor Module</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/adminStyle.css">
    <script src="https://cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Diabetic Clinic</a>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">Welcome,Kavinda</a></li>
            <li><a href="/">Logout</a></li>
            <li>
          </ul> 
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-11">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Doctor Module</h1>
          </div>
         
        </div>
      </div>
      
    </header>
    
    <section id="breadcrumb">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <ol class="breadcrumb">
              <li class="active">Patient Prograss Chart</li>
            </ol>
          </div>
          
        </div>
        
      </div>
    </section>

    <section id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="list-group">
              <a href="/doctor/home" class="list-group-item"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Home</a>
              <a href="/doctor/" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> MY Profile</a>
              <a href="/doctor/list" class="list-group-item"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Patient List</a>
              <a href="/doctor/report" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>  Patient Prograss Chart</a>
            </div>
          </div>



          <section id="content" class="column-right">
        <div class="container">
            <form action="" method="post">
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="exampleInputFirstName1">Patient ID</label>
                    <input type="number" class="form-control" id="reg_no" placeholder="0000" name="reg_no">
                    <br><button type="submit" class="btn btn-danger">Enter</button>
                </div>
                </div>
            </form>
        </div>

    </section>

   
    <footer id="footer">
      <p>Copyright &copy</p>
      
    </footer>
    <!--ckeditor-->
    <script>
      CKEDITOR.replace( 'pagebody' );
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
  </body>
</html>
