<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Doctor Module</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--
    agile, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

    Download: http://zypopwebtemplates.com/

    License: Creative Commons Attribution
    //-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

</head>

<body background="/public/images/do1.jpg">


<section id="body" class="width">
    <aside id="sidebar" class="column-left">

        <header>
            <h1><a href="#">Doctor Module</a></h1>

            <h2>WELCOME......!</h2>

        </header>

        <nav id="mainnav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/">My Profile</a></li>
                <li><a href="/list">Patient List</a></li>
                <li class="selected-item"><a href="/report">Patient Report</a></li>
                <li><a href="/staffTelNo">Staff Contact Numbers</a></li>
            </ul>
        </nav>



    </aside>
    <section id="content" class="column-right">
        <div class="container">

            <h1>Patient Report</h1>

            <hr>
            <form action="" method="post">
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="exampleInputFirstName1">Patient ID</label>
                    <input type="number" class="form-control" id="patient_id" placeholder="0000" name="patient_id">
                </div>
            </div>
                <br>
                <button type="submit" class="btn btn-danger">Enter</button>
            </form>
        </div>


        <footer class="clear">
            <p>Copyright &copy; CPSS 2017.All Rights Reserved</p>
        </footer>

    </section>

    <div class="clear"></div>

</section>


</body>
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
