body {
	background: #ffffff;
}
/*navbar */
.navbar {
	min-height: 37px !important;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-nav >li>a, .navbar-brand{
	padding-top: 10px !important;
	padding-bottom: 0 !important;
	height: 44px;
}


.navbar-default {
  background-color: #1f8ad7;
  border-color: #0d4495;
}
.navbar-default .navbar-brand {
  color: #f5f5f5;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f5f5f5;
}
.navbar-default .navbar-text {
  color: #f5f5f5;
}
.navbar-default .navbar-nav > li > a {
  color: #f5f5f5;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #f5f5f5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #f5f5f5;
  background-color: #0d4495;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #f5f5f5;
  background-color: #0d4495;
}
.navbar-default .navbar-toggle {
  border-color: #0d4495;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0d4495;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f5f5f5;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f5f5f5;
}
.navbar-default .navbar-link {
  color: #f5f5f5;
}
.navbar-default .navbar-link:hover {
  color: #f5f5f5;
}

/*custom*/
.main-color-bg {
	background-color: #1f8ad7 !important;
  	border-color: #5f5252 !important;
  	color: #ffffff!important;
}

#header{
	background:#3b3b3b;
	color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
#header .create{
	padding-top: 22px;
}
.breadcrumb {
	background: #cccccc;
	color: #333333;
}
.breadcrumb a{
	color: #333333;
}

.dash-box {
	text-align: center;
}

#footer{
	background: #1f8ad7;
	color: #ffffff;
	text-align: center;
	padding: 30px;
	margin-top: 50px;
}

#login{
  margin-bottom: 10px;
  margin-right: 10px;
}

#forgetPassword{
  margin-top:5px;
}

#forgetPasswordForm{
  margin-top: 60px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f5f5f5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f5f5f5;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f5f5f5;
    background-color: #0d4495;
  }
}

}